name: Auto message on pr opened

on:
  pull_request_target:
    types: [opened]

jobs:
  auto-response:
    runs-on: ubuntu-latest

    steps:
    - uses: derekprior/add-autoresponse@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        respondableId: ${{ github.event.pull_request.node_id }}
        response: "Thanks for your contribution, @${{ github.event.pull_request.user.login }}! We will review your PR soon :)"
        author: ${{ github.event.pull_request.user.login }}
        exemptedAuthors: "Aviyelvesre"
